<div class="row">
	<div class="col-12">
		{{#each collection}}

			<legend>{{@key}}</legend>

			<div class="list-group">
				{{#each this}}
					<a href="#replacement/{{id}}" class="list-group-item">
						<h4 class="list-group-item-heading">{{form.description}}, 0:00 - 0:00, fach</h4>
						<p class="list-group-item-text">
							mit {{teacher.firstname}} {{teacher.name}}, {{room.description}}<br>
						</p>
					</a>
				{{/each}}
			</div>
		{{/each}}
	</div>
</div>
