<div class="row">
	<div class="col-md-12">
		<legend>
			{{#if newReplacement}}
				neue Vertretung
			{{else}}
				Vertretung bearbeiten
			{{/if}}
		</legend>
		

		{{#with model}}

			<form role="form" >
				<div class="form-group">
					<label for="formDate">Datum</label>
					<input name="date" type="week" class="form-control" id="formDate" placeholder="DD.MM.JJJJ" value="{{format_date}}">
				</div>
				<div class="form-group">
					<label for="formDay">Tag</label>
					<select name="day" class="form-control" id="formDay">
						{{#each ../days}}
							<option value="{{id}}" {{#ifcond ../day.id "==" id}}selected{{/ifcond}}>{{description}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group">
					<label for="formlesson">Stunde</label>
					<select name="lesson" class="form-control" id="formlesson">
						{{#each ../lessons}}
							<option value="{{id}}" {{#ifcond ../lesson.id "==" id}}selected{{/ifcond}}>{{no}}: {{format_start}} - {{format_end}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group">
					<label for="formTeacher">Lehrer</label>
					<select name="teacher" class="form-control" id="formTeacher">
						{{#each ../teachers}}
							<option value="{{id}}" {{#ifcond ../teacher.id "==" id}}selected{{/ifcond}}>{{firstname}} {{name}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group">
					<label for="formRoom">Raum</label>
					<select name="room" class="form-control" id="formRoom">
						{{#each ../rooms}}
							<option value="{{id}}" {{#ifcond ../room.id "==" id}}selected{{/ifcond}}>{{description}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group">
					<label for="formSubject">Fach</label>
					<select name="subject" class="form-control" id="formSubject">
						{{#each ../subjects}}
							<option value="{{id}}" {{#ifcond ../subject.id "==" id}}selected{{/ifcond}}>{{description}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group">
					<label for="formForm">Klasse</label>
					<select name="form" class="form-control" id="formForm">
						{{#each ../classes}}
							<option value="{{id}}" {{#ifcond ../form.id "==" id}}selected{{/ifcond}}>{{description}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group">
					<label for="formNote">Notiz</label>
					<textarea name="note" id="formNote" class="form-control" rows="3">{{note}}</textarea>
				</div>
			
				<button type="button" class="btn btn-primary app-save">Speichern</button>
			</form>

		{{/with}}
	</div>
</div>
