<div class="row">
	<div class="col-md-12">
		{{#with model}}
			<h3>{{form.description}}, 0:00 - 0:00</h3>

			<table class="table">
				<tr>
					<td>
						Vertretungsleher
					</td>
					<td>
						{{teacher.firstname}} {{teacher.name}}
					</td>
				</tr>
				<tr>
					<td>
						Raum
					</td>
					<td>
						{{room.description}}
					</td>
				</tr>
				<tr>
					<td>
						Fach
					</td>
					<td>
						Fach?
					</td>
				</tr>
				{{#if note}}
					<tr class="warning">
						<td>
							Hinweis
						</td>
						<td>
							{{note}}
						</td>
					</tr>
				{{/if}}
			</table>
		{{/with}}
	</div>
</div>

