<div class="row">
	<div class="col-md-12">
		{{#with model}}
			<h3>
				<a href="#timetable/class/{{form.id}}">{{form.description}}</a>,
				{{#if lesson}}
					{{format_start}} - {{format_end}}
				{{else}}
					<span class="text-muted">keine Stunde</span>
				{{/if}}
				{{#if cancel}}
					<span class="text-danger">entfällt</span>
				{{/if}}
			</h3>

			<table class="table">
				<tr>
					<td>
						Vertretungsleher
					</td>
					<td>
						{{#if cancel}}
							<span class="text-danger">entfällt</span> /&nbsp;
						{{/if}}
						<a href="#timetable/teacher/{{teacher.id}}">{{teacher.firstname}} {{teacher.name}}</a>
					</td>
				</tr>
				<tr>
					<td>
						Raum
					</td>
					<td>
						{{#if cancel}}
							<span class="text-danger">entfällt</span> /&nbsp;
						{{/if}}
						<a href="#timetable/room/{{room.id}}">{{room.description}}</a>
					</td>
				</tr>
				<tr>
					<td>
						Fach
					</td>
					<td>
						{{#if cancel}}
							<span class="text-danger">entfällt</span> /&nbsp;
						{{/if}}

						{{#if subject}}
							{{subject.description}}
						{{else}}
							<span class="text-muted">kein Fach</span>
						{{/if}}
					</td>
				</tr>
				{{#if note}}
					<tr class="warning">
						<td>
							Hinweis
						</td>
						<td>
							{{note}}
						</td>
					</tr>
				{{/if}}
			</table>

			{{#if ../isLoggedIn}}
				<div class="btn-group">
					<a href="#replacement/{{id}}/edit" class="btn btn-default">Bearbeiten</a>
					<a href="#replacement/{{id}}/delete" class="btn btn-default">Löschen</a>
				</div>
			{{/if}}
		{{/with}}
	</div>
</div>

