<div class="row">
	<div class="col-md-12">
		<h3>Woche {{week}}</h3>

		<ul class="pager">
			<li class="previous"><a href="#replacement/{{navigation.prev}}">&larr; zurück</a></li>
			<li><a href="#replacement">Aktuelle Woche</a></li>
			<li class="next"><a href="#replacement/{{navigation.next}}">vor &rarr;</a></li>
		</ul>

		{{#each collection}}
			<legend>{{@key}}</legend>

			<div class="list-group">
				{{#each this}}
					<a href="#replacement/{{id}}" class="list-group-item">
						<h4 class="list-group-item-heading">
							{{form.description}},
							{{#if lesson}}
								{{format_start}} - {{format_end}}
							{{else}}
								<span class="text-muted">keine Stunde</span>
							{{/if}},
							{{#if subject}}
								{{subject.description}}
							{{else}}
								{{#if dropped}}
									<span class="text-danger">entfällt</span>									
								{{else}}
									<span class="text-muted">kein Fach</span>
								{{/if}}
							{{/if}}
						</h4>

						{{#if dropped}}
							<p class="list-group-item-text text-danger">
								Stunde entfällt
							</p>
						{{else}}
							<p class="list-group-item-text">
								mit {{teacher.firstname}} {{teacher.name}}, {{room.description}}<br>
							</p>
						{{/if}}							

						{{#if note}}
							<br>
							<p class="text-warning"><b>Hinweis:</b> {{note}}</p>
						{{/if}}
					</a>
				{{/each}}
			</div>
		{{else}}
			<legend>keine Änderungen</legend>
		{{/each}}
	</div>
</div>
