<div class="row">
	<div class="col-md-12">
		{{#with model}}
			<h3>
				{{form.description}},
				{{#if lesson}}
					{{format_start}} - {{format_end}}
				{{else}}
					<span class="text-muted">keine Stunde</span>
				{{/if}}
			</h3>

			<table class="table">
				<tr>
					<td>
						Vertretungsleher
					</td>
					<td>
						{{teacher.firstname}} {{teacher.name}}
					</td>
				</tr>
				<tr>
					<td>
						Raum
					</td>
					<td>
						{{room.description}}
					</td>
				</tr>
				<tr>
					<td>
						Fach
					</td>
					<td>
						{{#if subject}}
							{{subject.description}}
						{{else}}
							<span class="text-muted">kein Fach</span>
						{{/if}}
					</td>
				</tr>
				{{#if note}}
					<tr class="warning">
						<td>
							Hinweis
						</td>
						<td>
							{{note}}
						</td>
					</tr>
				{{/if}}
			</table>

			{{#if ../isLoggedIn}}
				<a href="#replacement/{{id}}/edit" class="btn btn-default">Bearbeiten</a>
			{{/if}}
		{{/with}}
	</div>
</div>

