<div class="row">
	<div class="col-md-12">
		<h3 class="pull-left">ToDo</h3>
	
		<div class="pull-right">
			<div class="input-group" style="width: 300px;">
				<input type="text" class="form-control app-email" placeholder="E-Mail">
				<span class="input-group-btn">
					<button class="btn btn-default app-subcribe" type="button">Abboieren</button>
				</span>
			</div>

			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Download <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/api/print/pdf?id={{timetable.id}}">PDF</a></li>
					<li><a href="/api/print/png?id={{timetable.id}}">PNG</a></li>
				</ul>
			</div>
		</div>

		<table class="table table-bordered stundenplan">
			<thead>
				<tr>
					<th style="width: 1%;"></th>
					{{#each days}}
						<th style="width: 1%;">{{short}}</th>
					{{/each}}
				</tr>
			</thead>
			<tbody>
				{{#each lessons}}
					<tr>
						<td>
							<strong>{{no}}</strong>
							<small>
								<br>{{format_start}}
								<br>{{format_end}}
							</small>
						</td>
						{{#each days}}
							{{#if replacement}}
								<td class="warning">
									{{#with replacement}}
										{{#if subject}}
											{{subject.subject}}<br>
										{{/if}}
										{{#if room}}
											{{room.description}}<br>
										{{/if}}
										{{#if teacher}}
											{{teacher.shortName}}
										{{/if}}
									{{/with}}
								</td>
							{{else}}
								<td>
									{{subject.shortName}}<br>
									{{room.description}}<br>
									{{teacher.shortName}}
								</td>
							{{/if}}
						{{/each}}
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>