<div class="row">
	<div class="col-md-12">
		<h3 class="pull-left">
			{{#if timetable.form}}
				{{timetable.form.description}}
			{{/if}}
			{{#if timetable.room}}
				{{timetable.room.description}}
			{{/if}}
			{{#if timetable.teacher}}
				{{timetable.teacher.firstname}} {{timetable.teacher.name}}
			{{/if}}
		</h3>
	
		<div class="pull-right">
			<button type="button" class="btn btn-default app-toggle pull-left">
				<input type="checkbox" {{#if showReplacement}}checked{{/if}}> Änderungen
			</button>

			<div class="btn-group pull-left" style="margin: 0 15px;">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					Download <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="/api/print/pdf?id={{timetable.id}}">PDF</a></li>
					<li><a href="/api/print/png?id={{timetable.id}}">PNG</a></li>
				</ul>
			</div>

			{{#if timetable.form}}
				<div class="input-group pull-left" style="width: 300px;">
					<input type="text" class="form-control app-email" placeholder="E-Mail">
					<span class="input-group-btn">
						<button class="btn btn-default app-subcribe" type="button">Abonnieren</button>
					</span>
				</div>
			{{/if}}
		</div>

		<div class="clearfix"></div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th style="width: 1%;"></th>
					{{#each days}}
						<th style="width: 1%;">{{short}}</th>
					{{/each}}
				</tr>
			</thead>
			<tbody>
				{{#each lessons}}
					<tr>
						<td>
							<strong>{{no}}</strong>
							<small>
								<br>{{format_start}}
								<br>{{format_end}}
							</small>
						</td>
						{{#each days}}
							{{#ifcond replacement "and" ../../showReplacement}}
								{{#with replacement}}
									<td class="{{cellClass}}">
										{{#ifcond cellClass "==" "danger"}}
											<span class="label label-danger">entfällt</span><br>
										{{/ifcond}}

										{{#if subject}}
											{{subject.shortName}}<br>
										{{/if}}
										{{#if room}}
											{{room.description}}<br>
										{{/if}}
										{{#if teacher}}
											{{teacher.shortName}}
										{{/if}}

										<br><a href="#replacement/{{id}}" class="btn btn-default btn-xs">Details</a>
									</td>
								{{/with}}
							{{else}}
								<td>
									{{#with lesson}}
										{{subject.shortName}}<br>
										{{room.description}}<br>
										{{teacher.shortName}}<br>
										{{form.description}}
									{{/with}}

									{{#if ../../../isLoggedIn}}
										{{#if replacement}}
											<br><a href="#replacement/{{replacement.id}}" class="btn btn-default btn-xs">Details</a>
										{{else}}
											<br>
											{{#if ../../../../../timetable.form}}
												<a href="#replacement/new/{{../../../../../id}}/{{../day.id}}/{{../../../../../../timetable.form.id}}" class="btn btn-default btn-xs">
											{{else}}
												<a href="#replacement/new/{{../../../../../id}}/{{../day.id}}/{{../lesson.form.id}}" class="btn btn-default btn-xs">
											{{/if}}
											
												Neue Vertretung
											</a>
										{{/if}}
									{{/if}}
								</td>
							{{/ifcond}}
						{{/each}}
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>