<div class="row">
	<div class="col-12">

		<table class="table table-bordered stundenplan">
			<thead>
				<tr>
					<th style="width: 1%;">ToDo</th>
					{{#each days}}
						<th style="width: 1%;">{{short}}</th>
					{{/each}}
				</tr>
			</thead>
			<tbody>
				{{#each lessons}}
					<tr>
						<td>
							<strong>{{no}}</strong>
							<small>
								<br>{{format_start}}
								<br>{{format_end}}
							</small>
						</td>
						{{#each days}}
							{{#if replacement}}
								<td class="warning">
									{{#with replacement}}
										{{#if subject}}
											{{subject.subject}}<br>
										{{/if}}
										{{#if room}}
											{{room.description}}<br>
										{{/if}}
										{{#if teacher}}
											{{teacher.shortName}}
										{{/if}}
									{{/with}}
								</td>
							{{else}}
								<td>
									{{subject.shortName}}<br>
									{{room.description}}<br>
									{{teacher.shortName}}
								</td>
							{{/if}}
						{{/each}}
					</tr>
				{{/each}}
			</tbody>
		</table>

		<div class="btn-group dropup ">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				Download <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="/api/print/pdf?id={{timetable.id}}" target="_blank">PDF</a></li>
				<li><a href="/api/print/png?id={{timetable.id}}" target="_blank">PNG</a></li>
			</ul>
		</div>
	</div>
</div>